@using I_STORE.ViewModels;
@model IEnumerable<PurchaseVM>
@{
    ViewData["Title"] = "All Ready Purchases";
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">User Email</th>
            <th scope="col">UserName </th>
            <th scope="col">Address</th>
            <th scope="col">Purchased Item</th>
            <th scope="col">Detail</th>
            <th scope="col">Price</th>
            <th scope="col"> Managment </th>

        </tr>
    </thead>
    @{
        var i = 1;
        var total = 0;
    }
    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <th scope="row">@i</th>
                <td>@item.User.Email</td>
                <td>@item.User.UserName</td>
                <td>@item.User.Address.FullAddress</td>
                @if (item.Product == null)
                {

                    <td>@item.Sneaker.Name</td>
                    <td>@item.Sneaker.Company</td>
                    <td>@item.Sneaker.Price</td>
                    total += item.Sneaker.Price;
                }
                else
                {
                    <td>@item.Product.ProductName</td>
                    <td>@item.Product.ProductCategory</td>
                    <td>@item.Product.Price</td>
                    total += item.Product.Price;
                }
                @if (User.IsInRole("admin"))
                {

                    <td>
                        <a class="btn btn-primary" asp-area="" asp-controller="AdminDashBoard" asp-action="Accept" asp-route-id="@item.PurchaseId">Accept</a>
                        <a class="btn btn-secondary" asp-area="" asp-controller="AdminDashBoard" asp-action="Reject" asp-route-id="@item.PurchaseId">Reject</a>
                    </td>
                }

            </tr>
        </tbody>
        i++;
    }
    <thead>
        <tr>
            <th scope="col">*</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">Total :</th>
            <th scope="col">@total</th>

        </tr>
    </thead>

</table>