@model Product

@{
    ViewData["Title"] = Model.ProductName;
}


<div class="container">



    <div class="row">

        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="@Model.Image" data-holder-rendered="true">
                <div class="card-body">
                    <p class="card-text">
                        @Model.ProductName
                    </p>
                </div>
            </div>




            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <p class="card-text">
                        <ul>
                            <li>Size :  @Model.Size</li>
                            <li>Left : @Model.Count</li>
                            <li>Price : @Model.Price</li>
                            @if (User.IsInRole("user") && User.Identity.IsAuthenticated)
                            {
                                <a class="btn btn-outline-success float right" asp-controller="UserDashBoard" asp-action="PurchaseProduct" asp-route-id="@Model.ProductID">Purchase</a>

                            }
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>