@model IEnumerable<Product>

@{
    ViewData["Title"] = "Products";
}



<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading"> Products </h1>

        @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
        {
            <p>
                <a asp-area="" asp-controller="LowerBody" asp-action="Create" class="btn btn-primary my-2">Add Product</a>

            </p>
        }

    </div>

</section>

<center>
    @using (Html.BeginForm("Index", "LowerBody", FormMethod.Get))
    {

        @Html.TextBox("searching")
        <br />
        <br />
        <input type="image" src="~/icons/search-3-32.png" style="width:40px; padding:5px; border-radius:20%" value="Search" class="btn-primary" />

    }
</center>

<div class="container">
   
    <br />
    <br />

    <div class="row">
        @foreach (var item in Model)
        {
            if (item.Count > 0 && !(User.IsInRole("admin")))
            {

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="@item.Image" data-holder-rendered="true">
                        <div class="card-body">
                            <p class="card-text">
                                <b>Name : @item.ProductName</b> <br />
                                <br>
                                Size  : @item.Size
                                <br />
                                price : @item.Price
                                <br />

                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a type="button" class="btn btn-sm btn-outline-secondary" asp-controller="LowerBody" asp-action="Detail" asp-route-id="@item.ProductID">View</a>
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                                    {
                                        <a type="button" class="btn btn-sm btn-outline-secondary" asp-controller="LowerBody" asp-action="Delete" asp-route-id="@item.ProductID">Delete</a>
                                        <a type="button" class="btn btn-sm btn-outline-secondary" asp-controller="LowerBody" asp-action="Edit" asp-route-id="@item.ProductID">Edit</a>
                                    }

                                </div>
                                <small class="text-muted">Left : @item.Count</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else if (User.IsInRole("admin"))
            {
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="@item.Image" data-holder-rendered="true">
                        <div class="card-body">
                            <p class="card-text">
                                <b>Name : @item.ProductName</b> <br />
                                <br>
                                Size  : @item.Size
                                <br />
                                price : @item.Price
                                <br />

                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a type="button" class="btn btn-sm btn-outline-secondary" asp-controller="LowerBody" asp-action="Detail" asp-route-id="@item.ProductID">View</a>
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                                    {
                                        <a type="button" class="btn btn-sm btn-outline-secondary" asp-controller="LowerBody" asp-action="Delete" asp-route-id="@item.ProductID">Delete</a>
                                        <a type="button" class="btn btn-sm btn-outline-secondary" asp-controller="LowerBody" asp-action="Edit" asp-route-id="@item.ProductID">Edit</a>
                                    }

                                </div>
                                <small class="text-muted">Left : @item.Count</small>
                            </div>
                        </div>
                    </div>
                </div>
            }

        }
    </div>
</div>