@using Context.Data.Enum;
@using Context.ViewModels;
@model IEnumerable<PurchaseVM>
@{
    ViewData["Title"] = "Ready Purchases";
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Detail</th>
            <th scope="col">Price</th>
            <th scope="col">Status</th>
            <th scope="col"> Cancel </th>
        </tr>
    </thead>
    @{
        var i = 1;
        var total = 0;
    }
    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <th scope="row">@i</th>
                @if (item.Sneaker != null)
                {
                    <td>@item.Sneaker.Name</td>
                    <td>@item.Sneaker.Company</td>
                    <td>@item.Sneaker.Price</td>
                    <td>@item.Status.ToString()</td>
                    if (item.Status == Status.Done)
                    {
                        total += item.Sneaker.Price;
                    }
                    <td><a class="dropdown-item" asp-action="CancelPurchase" asp-controller="UserDashBoard" asp-route-id="@item.PurchaseId">Cancel </a></td>
                }
                else
                {
                    <td>@item.Product.ProductName</td>
                    <td>@item.Product.ProductCategory</td>
                    <td>@item.Product.Price</td>
                    <td>@item.Status.ToString()</td>
                    if (item.Status == Status.Done)
                    {//
                        total += item.Product.Price;
                    }
                    <td><a class="dropdown-item" asp-action="CancelPurchase" asp-controller="UserDashBoard" asp-route-id="@item.PurchaseId">Cancel </a></td>

                }


            </tr>
        </tbody>
        i++;
    }
    <thead>
        <tr>
            <th scope="col">*</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">Total :</th>
            <th scope="col">@total</th>

        </tr>
    </thead>

</table>


<br />

<br />
<center>

<p>
* if status is ACCEPTED that means we calculate that item
</p>
@if (Model.Count() > 0)
    {

      
        <label>Your Total : @Model.FirstOrDefault().User.CartTotalCost</label>
        <br />
        <a class="btn btn-primary" asp-action="ContinuePurchase" asp-controller="AdminDashBoard" asp-area="">Continue Purchase</a>
    }
</center>